@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-body;
  @apply text-gray-800;
  font-size: 20px;
}

article {
  p {
    @apply mb-6;
  }
  a {
    @apply text-primary hover:underline;
  }
}

blockquote {
  @apply ml-6 italic text-gray-600;
}

pre[class*='language-'],
pre,
code[class*='language-'],
code {
  @apply text-sm rounded-md;
}

.cbcontainer {
  @apply px-4 mx-auto;
  max-width: 1280px;
}

.sidebar {
  width: 15rem;
  a {
    @apply text-primary hover:underline;
  }
}

.main-heading {
  color: rgba(0, 168, 255, 0.5);
  font-family: 'Impact', 'Helvetica Neue', 'helvetica', 'Arial', sans-serif;
  font-size: 400%;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  text-shadow: 6px 0px 0 rgba(255, 0, 180, 0.5);
}

.byline {
  @apply text-sm mb-4 font-display;
}
